@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "/node_modules/flowbite";
@layer utilities {
    .container {
        margin-inline: auto;
    }
}

.service-item h5 {
    font-size: 30px;
    line-height: 36px;
    margin: 8px 0 24px;
    font-weight: 700;
}
.service-item p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #9CA3AF;
}
.product-item h5 {
    font-size: 20px;
    line-height: 28px;
    margin: 12px 0px;
    font-weight: 400;
}
.text-glow-brown {
    text-shadow: 0 0 4px rgba(139,94,53,0.6);
}
.text-glow-black {
    text-shadow: 0 0 4px rgba(9, 15, 65,0.3);
}
label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
li {
    margin-bottom: 15px;
}